<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Descr:</b>
  <%= @person.descr %>
</p>

<p>
  <b>P name:</b>
  <%= @person.p_name %>
</p>

<p>
  <b>Actor:</b>
  <%= @person.actor %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
