<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @equipment.status %>
</p>

<p>
  <b>P name:</b>
  <%= @equipment.p_name %>
</p>

<p>
  <b>Descr:</b>
  <%= @equipment.descr %>
</p>

<p>
  <b>Name:</b>
  <%= @equipment.name %>
</p>


<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
