<h1>Listing groups</h1>

<table class="table">
  <tr>
    <th>Status</th>
    <th>Group</th>
    <th>User</th>
    <th>Projects</th>
    <th></th>
    <th></th>
    <!-- <th></th> -->
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.status %></td>
    <td><%= group.num %></td>
    <td><% (group.users).each { |user| %>
        <%= link_to user.first_name, user %> &nbsp;
    <%} %></td>
    <td>
      <% (group.projects).each { |project| %>
          <%= link_to project.name, project %> &nbsp;
      <%} %>
    </td>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <!-- <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_group_path %>
