<h1>Listing users</h1>

<table class="table">
  <tr>
    <th>First name</th>
    <th>Lastname</th>
    <th>Group</th>
    <th>Role</th>
    <th>Identifier url</th>
    <th></th>
    <th></th>
    <th></th>
    <!-- <th></th> -->
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.first_name, user %></td>
    <td><%= user.last_name %></td>
    <td>
        <% user.group_ids.each { |id| %>
        <%= link_to id, "/groups/#{id}" %>
        <%}%>
    </td><!--"/message/create?sender=#{current_user.first_name}&receiver=#{user.first_name}&object=Invitation"-->
    <td><%= user.role%></td>
    <td><%= user.identifier_url %></td>
    <td>
        <% unless current_user.groups.empty?%>
          <%if !user.equals(current_user) && user.groups.empty?%>
            <button onclick="einladen('<%=current_user.first_name%>', '<%=user.first_name%>')">Einladen</button>
          <%end%>
        <%end%>
    </td>
    <div class="einladen"></div>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <!-- <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<div class="ui-widget" id="dialog-group" title="Select a group">
    <p class="validateTips">You have to select a group</p>
    <form>
        <fieldset>
            <label for="combobox"></label>
            <select id="combobox">
                 
            </select>
        </fieldset>
    </form>    
</div>

<br />
<script>
    function einladen(current, user){ // current, user
    $.ajax({
        type: "GET",
        url:  "/user/groups",
        dataType: "json",
        success: function(result){
            if(result.length == 1){
                $.ajax({
                    type: "GET",
                    url:  "/message/create",
                    dataType: "text",
                    data: { sender: current, receiver: user, object: "Invitation", groupId: result[0].id},
                    success: function(result){
                        //TODO pops up, Einladung geschickt
                    },
                    error: function(xhr, status, err){
                        alert(err);
                    }
                });
            }else if(result.length > 1){
                for(var i=0; i<result.length; i++){
                    $('select').append($('<option>', {
                    value: result[i].id,
                    text: ''+result[i].id
                    }));
                }
                $("#dialog-group").data("data", {sender: current, receiver: user}).dialog("open");
            }else{
                alert("Empty group");
            }
        },
        error: function(xhr, status, err){
            alert(err);
        }
    });
}

(function($){
    $.widget( "ui.combobox", {
        _create: function() {
            var select = this.element,
            // $('#combobox').show();
            selected = select.children(":selected"),
            tips = $(".validateTips"),
            value = selected.val() ? selected.text() : "";

            function updateTips(){
                tips.addClass("ui-state-highlight");
                setTimeout(function(){
                    tips.removeClass("ui-state-highlight", 1500);
                }, 500);
            }

            $("#dialog-group").dialog({
                autoOpen: false,
                height: 300,
                width: 350,
                modal: true,
                buttons: {
                    "Ok": function(){
                        if(selected.val() == ""){
                            updateTips();
                            return;
                        }else{
                            var data = $(this).data("data");
                            var that = this;
                            $.ajax({
                                type: "GET",
                                url:  "/message/create",
                                dataType: "text",
                                data: { sender: data.sender, receiver: data.receiver, object: "Invitation", groupId: selected.val() }, 
                                success: function(result){
                                    $(that).dialog("close");
                                },
                                error: function(xhr, status, err){
                                    alert(err);
                                }
                            });
                        }
                    },
                    Cancel: function(){
                        $(this).dialog("close");
                    }
                }
            });
        },
         _destroy: function() {
             this.element.show();
        }
    });
})(jQuery);
$("#combobox").combobox();  
</script>
