<h1>Listing users</h1>

<table class="table">
  <tr>
    <th>First name</th>
    <th>Lastname</th>
    <th>Group</th>
    <th>Role</th>
    <th>Identifier url</th>
    <th></th>
    <th></th>
    <th></th>
    <!-- <th></th> -->
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.first_name, user %></td>
    <td><%= user.last_name %></td>
    <td>
        <% user.group_ids.each { |id| %>
        <%= link_to id, "/groups/#{id}" %>
        <%}%>
    </td><!--"/message/create?sender=#{current_user.first_name}&receiver=#{user.first_name}&object=Invitation"-->
    <td><%= user.role%></td>
    <td><%= user.identifier_url %></td>
    <td>
        <% unless current_user.groups.empty?%>
          <%if !user.equals(current_user) && user.groups.empty?%>
            <button onclick="einladen('<%=current_user.first_name%>', '<%=user.first_name%>')">Einladen</button>
          <%end%>
        <%end%>
    </td>
    <div class="einladen"></div>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <!-- <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<div class="ui-widget" id="dialog-group" title="Select a group">
    <p class="user_error"></p>
    <p class="user_tips">You have to select a group</p>
    <form>
        <fieldset>
            <label for="combobox"></label>
            <select id="combobox">
                 
            </select>
        </fieldset>
    </form>    
</div>

<br />
<script>
$("#combobox").combobox();  
</script>
