<div id="scenario" style="overflow: auto;display: inline">
  <% @pads.each do |p| %>
      <div class="image-thumb">
            <a href="/projects/<%= @project.id %>?scene_id=<%= p.p_name %>&pad_url=<%= p.pad_url %>" onclick="changeContent()"><img src="<%= asset_path 'screenplay.gif' %>" /></a>
        <p class="property-title"><%= p.story %></p>
      </div>
  <% end %>
  <div class="image-thumb">
    <a href="/pads/new/"><img src="<%= asset_path 'Plus_sign.png' %>" width="20px" id="plus-sign" /></a>
  </div>
</div>
