<div id="scenario" style="overflow: auto;display: inline">
  <% @pads.each do |p| %>
      <div class="image-thumb">
              <a href="http://piratepad.net/<%= p.pad_url %>" target="pad-frame" onclick="changeContent2('<%= p.frames %>')"> <img src="<%= asset_path 'screenplay.gif' %>" /></a>
        <p class="property-title"><%= p.title %></p>
      </div>
  <% end %>
  <div class="image-thumb">
    <a href="/pads/new/"><img src="<%= asset_path 'Plus_sign.png' %>" width="20px" id="plus-sign" /></a>
  </div>
</div>

