<h1>Listing projects</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Group</th>
    <th>Created</th>
    <th>Changed</th>
    <th></th>
    <th></th>
    <!-- <th></th> -->
  </tr>

<% @projects.each do |project| %>
  <tr >
    <td><%= project.name %></td>
    <td><%= link_to project.group_id, project.group %></td>
    <td><%= project.created %></td>
    <td><%= project.changed_date %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <!-- <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<br />

<form method="get" action="<%= new_project_path %>">

</form>
<button class="btn" onclick="projectAnlegen()" type="submit">New Project</button>

<div class="ui-widget" id="dialog-project" title="Create a project">
  <p class="proj_error"></p>
  <p class="proj_tips"></p>
  <form>
    <fieldset>
      <label for="proj_name">Project name:</label>
      <input type="text" id="proj_name" />
      <label for="group_number">Group number:</label>
      <select id="group_number" ></select>
    </fieldset>
  </form>
</div>

<div class="ui-widget proj_warnung">You must belong to a group in order to create a project</div>

<br />
<script>
$("#group_number").combobox();
</script>
