<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Group:</b>
  <%= @project.group_id %>
</p>

<p>
  <b>Created:</b>
  <%= @project.created %>
</p>

<p>
  <b>Changed:</b>
  <%= @project.changed %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
