<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span12">
    <center><h1><%= @project.name %> | Gruppe <%= @project.group_id %></h1></center>
  </div>
</div>
<div class="row-fluid" style="overflow: auto; display: inline">
    <%= render 'scenario' %>
</div>
<div class="row">
  <div class="span12">
        <center>&darr;</center>
  </div>
</div>
<div class="row-fluid" id="storyboard" style="overflow: auto;">
  <%= render 'story' %>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12" style="border-style:solid;border-width:1px;height: 400px;">
      <iframe name="pad-frame" src="http://piratepad.net/<%= params[:pad_url] %>?fullScreen=1" style="width:100%;height: 100%;"></iframe>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<script>
    function changeContent(project_id){
        $.ajax({
            type: "POST",
            url:  '/projects/loadFrames',
            dataType: "json",
            data: {id: project_id},
            success: function(result, txtStatus, xhr){
                var framElem = document.getElementByName('image-thumb');
                for(var i = 0; i < result.length; i++){
                    imgPath = getPath("");
                    img = document.createElement('img');
                    img.src = imgPath;
                    a = document.createElement('a');
                    a.href = imgPath;
                    a.appendChild(img);
                    p = document.createElement('p');
                    p.innerHTML = result[i].p_name;
                    framElem.appendChild(a);
                    framElem.appendChild(p);
                }
            },
            error: function(err){
                alert(err);
            }
        });
    }

        function changeContent2 (pad_url){

            document.getElementById('storyboard').innerHTML =
                        "<div id='story'' style='overflow: auto;display: inline'>" +
                            "<% @frames.each do |p| %>" +
                                "<div class='image-thumb'>" +
                                    "<a href='<%= asset_path p.image %>' target='_blank'><img src='<%= asset_path p.image %>' /></a>" +
                                    "<p class='property-title'><%= p.p_name %></p>" +
                                "</div>" +
                            "<% end %>" +
                                "<div class='image-thumb'>" +
                                    "<a href='/frames/new'><img src='<%= asset_path 'Plus_sign.png' %>' width='20px' id='plus-sign' /></a>" +
                                "</div>" +
                        "</div>";
        }

</script>