<!DOCTYPE html>
<html>
<head>
  <title>CoBook</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="icon" href="<%= asset_path 'favicon.ico' %>" type="image/x-icon">
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body style="height: 100px; margin-top: -30px;">
<%= yield %>
</body>
</html>